.filtres__list {
  max-width: 250px;
  height: 50px;
  border-radius: 10px;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
  color: rgba(172, 184, 202, 1);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
}
