.item__price_old {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: line-through;
  color: rgba(154, 154, 154, 1);
  margin-left: 10px;
  margin-top: 21px;
  align-self: center;
}
