.item__basket {
  max-width: 114px;
  padding: 10px 16px;
  background-color: rgba(0, 0, 0, 1);
  color: #ffffff;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 1600px){
  .item__basket{
    font-size: 10px;
  line-height: 13px;
  }
}
